@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital,wght@1,400;1,700&family=Pacifico&family=Playfair+Display:ital@1&family=The+Nautigal&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gentium Book Plus', serif;
}
h1{
    font-size: 50px;
    line-height: 64px;
    font-family: 'Pacifico';
    color: rgb(9, 74, 9);
}
h2{
    font-size: 45px;
    line-height: 54px;
    font-family: 'Playfair Display', serif;
    color: rgb(4, 72, 4);
}
h3{
    font-size: 38px;
}
h4{
    font-size: 20px;
}
p{
    font-size: 16px;
}
body{
    width:100%;
}
navbar{
    display: flex;
    align-items: center;
    background-color:rgba(6, 95, 6, 0.086);
    justify-content: space-between;
    box-shadow: 0 5px 5px;
    position: sticky;
    top: 0;
    left: 0;
}
#bar{
   display: flex; 
   align-items: center;
   justify-content: center;
   list-style-type: none;
}
#bar li {
    padding: 20px;
}
#bar li a{
    text-decoration: none;
    font-size: larger;
    font-weight: bold;
    color: rgb(16, 15, 15);
    transition: 0.3 ease;
}
#bar li a:hover,
#bar li a.active{
    color: rgb(13, 210, 13);   
}
#homebg{
    background : url(background1.jpg) no-repeat center center/cover ;
    height: 90vh;
    width:100%;
    text-align: center;
    
}
#homebg h3{
    color: green;
    font-weight: bolder;
}
#homebg button{
width: 10%;
border: 3px solid rgb(7, 46, 7);
border-radius: 25px;
padding: 5px 10px;
background-color:rgb(104, 243, 118) ;
color: rgb(7, 46, 7);
font-weight: bolder;
font-size: larger;
cursor: pointer;
transition: 0.25s ease;
}
#homebg button:hover{
    background-color:rgb(7, 46, 7) ;
    color: rgb(104, 243, 118);   
 
}
.space1{
    padding: 50px 20px;
}
#featured .fe-box{
    width:200px;
    height: 230px;
    text-align: center;
    padding: 25px 20px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.3) ;
    border: 2px solid rgb(103, 227, 103);
    border-radius: 10px;
    margin:10px 0;
}
#featured .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(0, 0, 0, 0.25) ;
}
#featured .fe-box img{
    width: 100%;
    height: 60%;
    margin-bottom:10px ;
}
#featured .fe-box h4{
    padding: 9px 8px 6px 8px;
    color: rgb(9, 74, 9);
    background-color: rgb(104, 243, 118);
line-height: 1;
border-radius:5px ;
}
#featured {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#categories{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#categories .cat{
    width:350px;
    height: 300px;
    text-align: center;
    padding: 25px 20px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.3) ;
    border: 2px solid rgb(1, 49, 1);
    border-radius: 10px;
    background-color: aquamarine;
    margin:10px 0;
}
#categories .cat:hover{
    box-shadow: 10px 10px 54px rgba(0, 0, 0, 0.25) ;
}
#categories .cat img{
    width: 80%;
    height: 80%;
    margin-bottom:10px ;
}
.heading{
    text-align: center;
}
.banner{
    background-image: url(background2.jpg) ;
    width: 100%;
    height: 40vh;
    background-position: center;
    background-size: cover;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
color:rgb(104, 243, 118) ;
}
.banner h3 span{
color: rgb(21, 71, 37);
background-color: rgb(148, 238, 177);
padding: 2px 6px;
border-radius: 30px;
}
.banner button{
    width: 10%;
border: 3px solid rgb(7, 46, 7);
border-radius: 25px;
padding: 5px 10px;
background-color:rgb(104, 243, 118) ;
color: rgb(7, 46, 7);
font-weight: bolder;
font-size: larger;
cursor: pointer;
margin-top: 15px;
}
.banner button:hover{
    background-color:rgb(7, 46, 7) ;
    color: rgb(104, 243, 118);  
    transition: 0.2s ease;  
}
#banner2 .banner-box2 {
    background-image: url(background3.jpg) ;
    min-width: 580px;
    height: 60vh;
    background-position: center;
    background-size: cover;
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content:left;
color:rgb(224, 45, 110) ; 
padding: 15px; 
}
#banner2 .banner-box1 {
    background-image: url(background4.jpg) ;
    min-width: 580px;
    height: 60vh;
    background-position: center;
    background-size: cover;
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content:left;
color:rgb(5, 69, 32) ; 
padding: 15px; 
}
#banner2{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.banner-box2 button{
    width: 30%;
border: 3px solid rgb(216, 22, 126);
padding: 5px 10px;
background-color:rgb(218, 173, 40) ;
color: rgb(211, 22, 145);
font-weight: bolder;
font-size: larger;
cursor: pointer;
margin-top: 15px;
}
.banner-box1 button{
    width: 30%;
border: 3px solid rgb(4, 44, 27);
padding: 5px 10px;
background-color:rgb(113, 233, 145) ;
color: rgb(9, 53, 25);
font-weight: bolder;
font-size: larger;
cursor: pointer;
margin-top: 15px;
}
.banner-box2 button:hover{
    background-color: rgb(211, 22, 145);
    color:rgb(218, 173, 40) ;  
    transition: 0.2s ease;  
}
.banner-box1 button:hover{
    background-color: rgb(5, 65, 6);
    color:rgb(65, 230, 117) ;  
}
.banner-box2 h2{
    color:rgb(216, 22, 126);
}
.newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background: url(background5.jpg) center/cover;
    background-repeat: no-repeat;
    height: 20vh;
    padding: 30px;
    margin: 30px 0px;
}
.newsletter .newstext{
color:rgb(52, 244, 103);

}
.newsletter .form button{
    border: 3px solid rgb(4, 44, 27);
    padding: 5px 10px;
    border-radius: 8px;
    background-color:rgb(74, 242, 119) ;
    color: rgb(9, 53, 25);
    font-weight: bolder;
    font-size: larger;
    cursor: pointer;
    margin-top: 15px;
    transition: 0.2s ease;  
    }
.form  button:hover{
        background-color:rgb(7, 46, 7) ;
        color: rgb(104, 243, 118);   
    }
.newsletter .newstext h4 span{
    color: rgb(141, 185, 29);
}
.newsletter input{
    height: 2rem;
    padding:0 1px;
    color: rgb(4, 44, 27);
    font-weight: bolder;
    font-size: 14px;
    border: 4px solid rgb(43, 191, 122);
    border-radius: 8px;
}
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
footer p{
    font-size: large;
    margin: 3px;
}
footer a{
    font-size:larger ;
    text-decoration: none;
    cursor: pointer;
    color: green;
}
footer .follow i{
}
footer .col i{
color: rgb(10, 89, 20);
}
footer .col i:hover{
    color :greenyellow;
}
.copyright{
    background-color: black;
    color: white;
    font-size: larger;
    text-align: center;
}
#page-header{
    background-image: url(shopbg1.jpg);
    background-repeat: repeat-x;
    width: 100%;
    height: 200px;
    text-align: center;
    color: rgb(30, 235, 71);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#page-header h2{
    color: rgb(30, 235, 71);
}
#products .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border-radius: 20px;
    border: 1px solid rgb(75, 246, 132);
    cursor: pointer;
    margin:15px 0;
    transition: 0.2s ease;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.202);
    position: relative;
}
#products .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.478);
}
#products .pro img{
    width: 100%;
    border-radius: 20px;
}
#products .pro .des span{
color: rgb(37, 36, 36);
font-size: larger;
}
#products .pro .des h5{
    padding-top: 7px;
    color: rgb(2, 36, 10);
    font-size: larger;
}
#products .pro .des .star  {
    font-size: 15px;
    color: gold;
}
#products .pro .des h4{
color: darkgreen;
}
#products .pro .des {
text-align: start;
}
#products .pro .cart{
    position: absolute;
    right: 10px;
}
#products .pro-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 15px;
}